#titlu{
    font-style: oblique;
    font-size: 50px;
    font-family: Arial;
    width: max-content; 
    margin-left: auto;
    margin-right: auto;
    
}
#formi{
    font-style: oblique;
    font-size: 30px;
    width: max-content; 
    margin-left: auto;
    margin-right: auto;
    
}
#tudo{
    
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148807182.jpg?size=626&ext=jpg");
}
button{
    background-color: red;);
  }